
/* ===== BUTTONS ===== */

.btn-primary{

background:#FA7E77;

border:none;

padding:10px 18px;

border-radius:20px;

color:white;

font-weight:500;

cursor:pointer;

transition:.3s;
}

.btn-primary:hover{

background:#FA7E77;

}


/* ===== PROGRESS BAR ===== */

.progress-bar{

width:100%;

height:6px;

background:#dfe7e5;

border-radius:10px;

overflow:hidden;

}

.progress-fill{

height:100%;

background:#6fa79d;

border-radius:10px;

}


/* ===== CARD ===== */

.card{

background:white;

border-radius:16px;

padding:30px;

box-shadow:0 8px 18px rgba(0,0,0,0.05);

}
/* ===== BUTTON LINK FIX ===== */

.btn-primary{
display:inline-block;
text-decoration:none;
}

/* ===== IMAGE FIX ===== */

img{
max-width:100%;
height:auto;
display:block;
}

/* ACCESSIBILITY MENU */

#accessibility-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  display: flex;
  align-items: center;
}

/* BOTÓN */
#accessibility-tab {
  background: #FA7E77;
  color: white;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  font-size: 18px;
}

/* PANEL */
#accessibility-panel {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 10px rgba(0,0,0,0.15);

  transform: translateX(100%);
  transition: 0.3s ease;
}

/* ACTIVO */
#accessibility-container.active #accessibility-panel {
  transform: translateX(0);
}

/* BOTONES */
.acc-btn {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 6px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

/* TEXTO ESCALADO (SUAVE, NO ROMPE DISEÑO) */
body.acc-large {
  font-size: 17px;
}

body.acc-xlarge {
  font-size: 19px;
}